<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JBChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TimeMgt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92DCD3691B35ECEE00AF8B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92DCD3731B35ECEE00AF8B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CD354CD1B2772BE0010E52A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CD354E21B2772BE0010E52A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
